<div class="about-page">
    <div class="about-message">
        <p>This website is dedicated to Nipsey Hussle.</p>
        <p>Nipsey's work, music, contributions to his community, and his legacy will never be forgotten.</p>
        <br>
        <p>The Marathon Continues.</p>
    </div>
</div>