<div class="quote-section">

    <div class="quote-container">
        <div class="quote-text">
            <p>"{{ quote }}" - Nipsey Hussle</p>
        </div>
        <form action="/" method="GET">
            <button type="submit" class="quote-btn">Generate Quote</button>
        </form>
    </div>
</div>